*~
*.m4
*.o
.deps/
Makefile
Makefile.in
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
test-driver
autom4te.cache/
m4/
src/vtpmctrl
tests/*.log
tests/*.trs
